.new_post{
   display: flex;
   flex-direction: column;
   padding:0 15%;
   margin-bottom: 50px;
}
.new_text{
   padding:10px 20px 10px 30px;
   width: 53.5vw;
   border-radius: 50px;
   outline: none;
   height: 100%;
}
.flex{
   display: flex;
   flex-direction: row-reverse;
}
.btn{
   margin-top: 5px;
    background-color: #1ab394;
    padding: 10px 15px;
    color: #fff;
    cursor: pointer;
    outline: none;
    transition: 0.5s;
    border-radius: 50px;
    border: none;
}
.btn:hover{
   background-color: #666f7b;
}
.btn:focus{
   outline: none;
}