.prof_back{
   display: flex;
   flex-direction: column;

 }
 .prof_back_in{
  width: 100%;
   height: 300px;
   margin-bottom: 30px;
   overflow: hidden;
   border-radius: 1%;
 }
 .prof_back_img{
   width: 100%;
 }
 .in{
   display: flex;
   padding:20px 0 20px 70px;
   margin-bottom: 5px;
   border:solid 1px #666f7b;
   border-radius: 50px;
   background-color:#f2f2f2;
   width: 70%;
   margin:0 auto;
   position: relative;
   bottom:30%;
   margin-bottom: -70px;
 }
 .prof_ava{
   width: 170px;
   height:170px;
   overflow: hidden;
   border-radius: 100%;
   border:solid 4px #1ab394;
 }
 .prof_ava_img{
   width: 100%;
   height: 100%;
 }
 .prof_info{
   padding-left: 90px;
   color:#1ab394;
 }
 .prof_info_name{
   font-size: 32px;
   font-weight: 700;
 }
 .prof_info_descrip{
   margin-top: 30px;
   font-size: 24px;
 }