.header{
   flex:1 1 100%;
   background-color: #1ab394;
   display: flex;
   padding-left: 50px;
   font-family: 'Montserrat', sans-serif;
 }
 .header_title{
   margin-left: 2px;
   color:#fcfcfe;
 }