.navbar{
   flex:0 1 20%;
   background-color: #1ab394;
   padding:20px 0;
 }
 .menu{
   padding-top: 25px;
 }
 .item{
   list-style:none;  
 }
 .link{
  color:#fcfcfe;
  font-size: 24px;
  line-height: 35px;
  letter-spacing:2px;
  transition: 0.5s;
 }
 .link:hover{
  color:#666f7b;
  text-decoration: none;
 }
 .active{
  color:#666f7b;
 }