.navbar{
   flex:0 1 20%;
   background-color: #3d4652;
   padding:20px 0;
 }
 .menu{
   padding-top: 25px;
 }
 .item{
   list-style:none;  
 }
 .link{
  color:#fcfcfe;
  font-size: 20px;
  line-height: 35px;
 }
 .link:hover{
  color:#7dadd3;
  text-decoration: none;
 }