.wrap{
  display: flex;
  flex-wrap:wrap;
  /* width: 1180px; */
  margin:0 auto;
}
.content{
  flex:0 1 80%;
  background: #e2e7e7;
  min-height: 91.5vh;
  overflow: auto;
  color:#666f7b;
  padding:20px;
}
