.post{
   display: flex;
   /* border-top: solid 1px #000; */
   padding:10px 0 10px 10%;
   margin-top: 5px;
   width: 100%;
}
.post_img{
   width: 90px;
   height: 90px;
   border-radius: 10%;
}
.post_img img{
   width: 100%;
   height: 100%;
   border-radius: 10%;
}
.post_descr{
   font-family: 'Montserrat', sans-serif;
   margin-left: 20px;
   display: flex;
   flex-direction: column;
}
.info{
   flex: 1 1 auto;
}
.title{
   font-size:22px;
}
.text{
   font-size: 16px;
}
.grp_btn{

}
.btn{
   background-color:transparent;
   border: solid 2px #1ab394;
   padding:3px 20px;
   color:#1ab394;
   cursor: pointer;
   outline: none;
   transition: 0.5s;
   border-radius: 50px;
   margin-bottom: 5px;
   margin-right: 1em;
}
.btn:hover{
   border: solid 2px #8d0606;
   color:#a30808;
}
.btn:focus{
  outline: none;
}