.post{
   display: flex;
   /* border: solid 1px #fff; */
   padding:10px 0 10px 0;
   margin-top: 10px;
   width: 100%;
   min-height:130px ;
}
.post_img{
   width: 90px;
   height: 90px;
   border-radius: 10%;
}
.post_img img{
   /* width: 100%; */
   height: 100%;
   border-radius: 10%;
}
.post_descr{
   font-family: 'Montserrat', sans-serif;
   display: flex;
   flex-direction: column;
   width: 100%;
}
.info{
   /* flex: 1 1 auto; */
   padding-left: 10px;
}
.title{
   font-size:22px;
}
.text{
   height:100%;
   padding:5px 0 10px 2px;
   font-size: 16px;
}
.grp_btn{
   margin-top: 15px;
   padding-left: 15px;
   display: flex;
   justify-content: start;
}
.btn{
   background-color:transparent;
   border: solid 2px #1ab394;
   padding:3px 20px;
   color:#1ab394;
   cursor: pointer;
   outline: none;
   transition: 0.5s;
   border-radius: 50px;
   margin-right: 1em;
}
.btn:hover{
   border: solid 2px #8d0606;
   color:#a30808;
}
.btn:focus{
  outline: none;
}